<div class="books-container" *ngIf="books">
    <p class="title">List of Books</p>
    <table>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Author</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books; let i = index">
                <td scope="row">{{ i +1 }}</td>
                <td scope="row">{{ book.name }}</td>
                <td scope="row">{{ book.category }}</td>
                <td scope="row">{{ book.author.name }}</td>
            </tr>
        </tbody>
    </table>
    <p class="addNew">Add new book</p>
    <form (ngSubmit)="addBook()" [formGroup]="bookForm">
        <table>
            <tr>
                <td><label for="bookName">Book name: </label></td>
                <td><input id="bookName" type="text" formControlName="name"></td>
            </tr>
            <tr>
                <td><label for="bookCate">Book category: </label></td>
                <td><input id="bookCate" type="text" formControlName="category"></td>
            </tr>
            <tr>
                <td><label for="bookAuthID">AuthorID: </label></td>
                <td><input id="bookAuth" type="number" formControlName="authorID"></td>
            </tr>
            <tr class="btnAdd-container">
                <td colspan="2"><button class="btnAdd">Add</button></td>
            </tr>
        </table>
    </form>
</div>
<div class="authors-container" *ngIf="authors">
    <p class="title">List of Authors</p>
    <table>
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Home Town</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let author of authors; let i = index">
                <td scope="row">{{ i +1 }}</td>
                <td scope="row">{{ author.name }}</td>
                <td scope="row">{{ author.homeTown }}</td>
            </tr>
        </tbody>
    </table>
    <p class="addNew">Add new author</p>
    <form (ngSubmit)="addAuthor()" [formGroup]="authorForm">
        <table>
            <tr>
                <td><label for="authorName">Author name: </label></td>
                <td><input id="authorName" type="text" formControlName="name"></td>
            </tr>
            <tr>
                <td><label for="authorHomeTown">Home town: </label></td>
                <td><input id="authorHomeTown" type="text" formControlName="homeTown"></td>
            </tr>
            <tr class="btnAdd-container">
                <td colspan="2"><button class="btnAdd">Add</button></td>
            </tr>
        </table>
    </form>
</div>